@import "tailwindcss";

@theme {
  --color-primary: #10b981;
  --color-primary-foreground: #ffffff;
  --color-secondary: #3b82f6;
  --color-secondary-foreground: #ffffff;
  --color-background: #09090b;
  --color-surface: #18181b;
  --color-surfaceHighlight: #27272a;
  --color-border: #27272a;
  --color-text: #fafafa;
  --color-text-muted: #a1a1aa;

  --font-sans: 'Inter', 'Outfit', sans-serif;
}